@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .font-sedgwick { font-family: var(--font-sedgwick), Arial, Helvetica, sans-serif; }
  .font-caveat { font-family: var(--font-caveat), Arial, Helvetica, sans-serif; }
  .font-lexend { font-family: var(--font-lexend), Arial, Helvetica, sans-serif; }
  .font-oswald { font-family: var(--font-oswald), Arial, Helvetica, sans-serif; }
  .font-bebas { font-family: var(--font-bebas), Arial, Helvetica, sans-serif; }
  .font-nasa { font-family: var(--font-nasa), Arial, Helvetica, sans-serif; }

  @keyframes shakeAndScaleRotate {
    0%   { transform: rotate(0deg) scale(1); }
    10%  { transform: rotate(-5deg); }
    20%  { transform: rotate(5deg); }
    30%  { transform: rotate(-5deg); }
    40%  { transform: rotate(5deg); }
    50%  { transform: rotate(-3deg); }
    60%  { transform: rotate(3deg); }
    70%  { transform: rotate(-2deg); }
    80%  { transform: rotate(2deg); }
    90%  { transform: rotate(0deg); }
    100% { transform: rotate(0deg) scale(1.05); }
  }

  .animate-shakeAndScaleRotate {
    animation: shakeAndScaleRotate 4s ease-in-out infinite;
  }

}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.swiper-pagination-bullet-active {
  background-color: #ffba00 !important;
  transform: scale(2);
  opacity: 1 !important;
}
