/* globals.css */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@layer utilities {
  .font-sedgwick {
    font-family: var(--font-sedgwick), Arial, Helvetica, sans-serif;
  }
  .font-caveat {
    font-family: var(--font-caveat), Arial, Helvetica, sans-serif;
  }
  .font-lexend {
    font-family: var(--font-lexend), Arial, Helvetica, sans-serif;
  }
  .font-oswald {
    font-family: var(--font-oswald), Arial, Helvetica, sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.swiper-pagination-bullet-active {
  background-color: #ffba00 !important;
  transform: scale(2);
  opacity: 1 !important;
}
